<!--===
    * Template estilizado em HTML.
    * Fique a vontade para customizar.    
    * Feito para uso no GitHub (Markdown).
    * Template Feito por Spacelaxy.
===-->


<!--=== Banner de Introdução ===-->

<div>
    <img src="https://user-images.githubusercontent.com/119537238/216734500-301028ac-1373-41bf-a6de-21286115d133.png">
</div>

<!--=== Quebra de Página ===-->
<hr>  

<!--=== Texto de Introdução ===-->
<div>
    <h1>[Emoji] • Introdução</h1>
    <blockquote>Descreva sobre sua organização!</blockquote>
</div>

<!--=== Quebra de Página ===-->
<hr>

<!--=== Texto de Projetos ===-->
<div>
  <h1>[Emoji] • Projetos</h1>
  
  <!--=== Projeto 1 ===-->  
  <div>
    <blockquote>Descreva o projeto 1</blockquote>
    <blockquote>Link do projeto 1</blockquote>
  </div>
  
  <!--=== Projeto 2 ===-->
  <div>
   <blockquote>Descreva o projeto 2</blockquote>
   <blockquote>Link do projeto 2</blockquote>
  </div>
</div>

<!--=== Quebra de Página ===-->
<hr>
  
<div>
    <blockquote>Feito com 💝 por <b>Sua Organização</b>.</blockquote>
</div>
